.faq-section .container {
    display: flex;
    background-color: var(--primary-bg-color);
    align-items: center;
    padding: 6rem 0;
    margin: auto;
}

.faq-title {
    flex: 1;
    color: #274E44;
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
}

.faq-questions {
    flex: 6;
}

.faq-questions h3 {
    font-weight: bold;
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 10px;
}

.faq-item summary {
    font-size: 20px;
    cursor: pointer;
    position: relative;
    list-style: none;
    padding: 10px;
}

.faq-item details[open] summary::after {
    content: "▲";
    position: absolute;
    right: 0;
}

.faq-item summary::after {
    content: "▼";
    position: absolute;
    right: 0;
}

.faq-item p {
    margin-top: 10px;
    margin-left: 12px;
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

@media (max-width: 768px) {
    .faq-section .container {
        flex-direction: column;
        gap: 50px;
    }

    .faq-questions {
        width: 80%;
    }
}