.about-header {
    text-align: center;
    padding: 40px 0;
    background-color: var(--primary-bg-color);
    padding: 6rem 2rem;
}

.about-header h1 {
    font-size: 50px;
    color: #274E44;
}

.section {
    background-color: #ffffff;
    padding: 40px;
    margin: 20px auto;
    border-radius: 8px;
    padding: 6rem 2rem;
}

.story-section .container {
    display: flex;
    align-items: center; /* Vertically center the text content with the image */
    margin: auto;
}

.story-section .container > * {
    width: 100%;
}

.story-section .container > *:nth-child(1) {
    width: 25%;
}

.story-section .container > *:nth-child(2) {
    width: 50%;
    padding: 0 6rem;
}

.story-section .container > *:nth-child(3) {
    width: 29%;
}

.story-image img {
    width: 400px; /* Set the desired width for the image */
    height: auto;
    object-fit: cover; /* Adjust image fit */
    border-radius: 8px; /* Optional: to give the image rounded corners */
}

.story-title {
    flex: 0 0 100px; /* Fixed width for "Our Story" section */
    font-size: 30px;
    color: #274E44;
}

.story-content {
    flex: 1; /* Allow content to take up the remaining space */
    font-size: 18px;
    color: #333;
    max-width: 1500px; /* Set a maximum width to condense the paragraph width */
    line-height: 2; /* Increase line height for better readability */
}

@media (max-width: 768px) {
    .story-section .container {
        flex-direction: column;
        align-items: center;
    }
    
    .story-title, .story-content {
        text-align: center;
        flex: 1;
    }

    .story-section .container > * {
        width: 33.3%;
    }

    .story-section .container > *:nth-child(1) {
        width: 100%;
        padding-bottom: 10px;
        order: 1;
    }
    
    .story-section .container > *:nth-child(2) {
        width: 100%;
        order: 3;
        padding: 0 6rem;
    }
    
    .story-section .container > *:nth-child(3) {
        width: 100%;
        text-align: center;
        order: 2;
    }
}
