#title, #subtitle {
    text-align: center;
    padding: 10px 0;
    color: var(--primary-color);
}

/* Cart Items Container */
.cart-items {
    max-width: 800px;
    margin: 10px auto 50px;
    padding: 20px;
    background-color: var(--primary-bg-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Cart Total Styling */
.cart-total {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 20px;
}

/* Cart Item Styling */
.cart-item {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    margin-bottom: 10px;
}

/* Cart Item Image Styling */
.cart-item-image {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 20px;
}

/* Cart Item Details Styling */
.cart-item-details {
    flex: 1;
}

/* Cart Item Actions - Quantity and Subtotal */
.cart-item-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

/* Quantity Controls */
.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button,
.quantity-controls input[type="text"] {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 5px;
    font-size: 16px;
    width: 32px;
    height: 32px;
    text-align: center;
    margin: 0 3px;
    border-radius: 4px;
    cursor: pointer;
}

.quantity-controls button {
    background-color: var(--button-primary-color);
}

.quantity-controls button:hover {
    background-color: var(--button-primary-hover-color);
}

.quantity-controls input[type="text"] {
    color: var(--primary-color);
    background-color: white;
    border: 1px solid var(--input-border-color);
    width: 40px;
    text-align: center;
}

.quantity-controls input[readonly] {
    background-color: var(--input-bg-color);
    color: var(--primary-color); /* Gray text */
    border: none; /* Light gray border */
    cursor: default; 
}

.quantity-controls input[readonly]:focus {
    outline: none;
    border-color: none; /* Match the normal border color */
}


/* Subtotal Styling */
.subtotal {
    font-size: 18px;
    font-weight: bold;
    color: var(--secondary-color);
    margin-left: auto;
}

/* Delete Button Styling */
.cart-item-delete {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: var(--secondary-color);
    color: white;
    font-size: 18px;
    padding: 5px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-item-delete:hover {
    background-color: var(--button-secondary-hover-color);
}

/* Checkout Button Container */
.checkout-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

/* Checkout Button Styling */
.checkout-button {
    padding: 12px 24px;
    background-color: var(--button-primary-color);
    color: var(--text-color-light);
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.checkout-button:hover {
    background-color: var(--button-primary-hover-color);
}

/* Empty Cart Styling */
.empty-cart {
    text-align: center;
    padding: 30px;
    color: var(--primary-color);
    max-width: 600px;
    margin: 50px auto;
}

.empty-cart i {
    font-size: 50px;
    color: var(--secondary-color);
    margin-bottom: 15px;
}

.empty-cart p {
    font-size: 18px;
    margin: 5px 0;
}

.browse-menu-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: var(--secondary-color);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.browse-menu-button:hover {
    background-color: var(--button-secondary-hover-color);
}
