#title, #subtitle {
    text-align: center;
    padding: 10px 0;
    color: var(--primary-color);
}

.cart-items {
    max-width: 800px;
    margin: 10px auto 50px;
    padding: 20px;
    background-color: var(--primary-bg-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-total {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 20px;
}

/* Cart Item Styling */
.cart-item {
    display: flex;
    align-items: flex-start;
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.cart-item-image {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-item-details {
    flex: 1;
    font-size: 14px;
    color: var(--primary-color);
    position: relative;
}

/* Special Request Field Styling */
.special-request-container {
    margin-top: 10px;
}

.special-request-container label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.special-request-container textarea {
    width: 50%;
    padding: 8px;
    font-size: 14px;
    color: var(--primary-color);
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    resize: none;
}

/* Quantity Controls */
.quantity-controls {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.quantity-controls button {
    background-color: var(--button-primary-color);
    color: white;
    border: none;
    padding: 5px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.quantity-controls button:hover {
    background-color: var(--button-primary-hover-color);
}

.quantity-controls input[type="text"] {
    width: 40px;
    height: 30px;
    text-align: center;
    border: none;
    color: var(--primary-color);
    background-color: var(--primary-bg-color);
    border-radius: 4px;
    font-size: 14px;
}

.quantity-controls input[type='text']:focus {
    outline: none;
}

/* Subtotal Styling */
.subtotal {
    font-size: 16px;
    font-weight: bold;
    color: var(--secondary-color);
    text-align: right;
    margin-top: -20px;
}

/* Delete Button Styling */
.cart-item-delete {
    background-color: var(--secondary-color);
    color: white;
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 0;
    right: 0;
}

.cart-item-delete:hover {
    background-color: var(--button-secondary-hover-color);
}

/* Dining Option and Checkout Button */
.dining-option {
    margin-top: -25px;
    font-size: 18px;
    color: var(--primary-color);
}

.dining-option h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.dining-option label {
    font-size: 16px;
    cursor: pointer;
    margin-right: 15px;
}

.dining-option input[type="radio"] {
    margin-right: 8px;
    accent-color: var(--primary-color);
    transform: scale(1.2);
}

.checkout-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.checkout-button {
    padding: 12px 24px;
    background-color: var(--button-primary-color);
    color: var(--text-color-light);
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checkout-button:hover {
    background-color: var(--button-primary-hover-color);
}

/* Empty Cart Styling */
.empty-cart {
    text-align: center;
    padding: 30px;
    color: var(--primary-color);
    max-width: 600px;
    margin: 50px auto;
}

.empty-cart i {
    font-size: 50px;
    color: var(--secondary-color);
    margin-bottom: 15px;
}

.empty-cart p {
    font-size: 18px;
}

.browse-menu-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: var(--secondary-color);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.browse-menu-button:hover {
    background-color: var(--button-secondary-hover-color);
}
