.title {
    text-align: center;
    font-size: 3em;
    margin: 20px 0;
    color: #2a482d;
    padding-top: 30px;
}

.locations-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.location-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
}

.location-card:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.location-card img {
    width: 100%;
    height: 200px; /* Set a fixed height for uniformity */
    object-fit: cover;
}

.location-card h3 {
    font-size: 22px;
    margin: 15px 0;
}

.location-card p {
    color: #666;
    font-size: 0.9em;
    padding: 0 10px 10px;
}

.location-address {
    font-style: italic;
    color: #444;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .locations-grid {
        margin-bottom: 10%;
    }
}